@tailwind base;

@tailwind components;

@tailwind utilities;

.background-animate {
    background-size: 400%;
    animation-name: AnimationName;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
